.header {
  align-items: center;
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  height: 7.5rem;
  padding-top: 0.5rem;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.trybewarts-header-title {
  display: none;
}

.trybewarts-header-logo {
  width: 50px;
  padding: 0.5rem;
}

.trybewarts-login {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.trybewarts-login-email , .trybewarts-login-senha {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  box-sizing: border-box;
  padding: 0.35rem;
  margin-bottom: 0.5rem;
}

.input-name , .input-lastname , .input-email {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  box-sizing: border-box;
  padding: 0.35rem;
  margin-bottom: 0.5rem;
}

.trybewarts-login-entrar {
  background-color: rgb(38, 126, 110);
  border: none;
  border-radius: 4px;
  color: rgb(253, 253, 253);
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
}

.main {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.evaluation-form {
  background-color: rgb(145, 222, 208);
  border: 1px solid rgb(205, 205, 205);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.75rem 0.5rem;
}

.select-container {
  display: flex;
  flex-direction: column;
}

.evaluation-form-label {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.evaluation-form-select {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  box-sizing: border-box;
  padding: 0.35rem;
  margin-bottom: 0.5rem;
}

.trybewarts-forms-logo {
  display: none;
}

.family , .learn , .evaluation {
  background-color: rgb(145, 222, 208);
  border: 1px solid rgb(205, 205, 205);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.75rem 0.5rem;
  margin-top: 0.75rem;
}

.comments {
  background-color: rgb(145, 222, 208);
  border: 1px solid rgb(205, 205, 205);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.75rem 0.5rem 0.5rem;
  margin-top: 0.75rem;
}

.counter {
  padding-top: 0.5rem;
  color: rgb(104, 104, 104);
}

.family-paragraph , .learn-paragraph {
  padding: 0.5rem 0;
}

.evaluation-paragraph , .comments-paragraph , .comments-label {
  padding: 0.5rem 0;
}

.family-labels , .learn-labels , .evaluation-labels {
  display: flex;
  flex-direction: column;
}

.family-label , .learn-label , .evaluation-label {
  color: white;
  background-color: rgb(67, 199, 174);
  border-radius: 5px;
  margin: 0.25rem 0;
  padding: 0.25rem;
}

.family-label:hover , .learn-label:hover , .evaluation-label:hover {
  background-color: rgb(208, 241, 235);
  color: rgb(23, 79, 68);
  transition: 0.4s;
}

.comments-wrapper {
  display: flex;
  flex-direction: column;
}

.comments-textarea {
  background-color: rgb(239, 250, 248);
  border: 1px solid rgb(205, 205, 205);
  border-radius: 5px;
  padding: 0.75rem;
  resize: none;
}

.accord , .submit {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0.75rem 0.5rem;
}

.agreement-infos {
  cursor: pointer;
  padding: 0.5rem 0;
  width: 80%;
}

.submit-btn {
  background-color: rgb(38, 126, 110);
  border: none;
  border-radius: 4px;
  color: rgb(253, 253, 253);
  cursor: pointer;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  transition: 0.4s;
}

.disabled {
  background-color: rgb(97, 100, 100);
}

.footer {
  background-color: rgb(50, 167, 145);
  color: white;
  margin-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  text-align: center;
}

@media screen and ( min-width : 768px ) {

  .trybewarts-header-title {
    color: rgb(253, 253, 253);
    display: inline-block;
    font-size: 2rem;
  }

  .trybewarts-login {
    width: 50%;
  }

  .main-content {
    display: flex;
    justify-content: space-around;
  }

  .content-wrapper {
    width: 30rem;
  }

  .trybewarts-forms-logo {
    display: inline-block;
    height: 300px;
  }

  .evaluation-form {
    align-items: center;
    flex-flow: row wrap;
    height: 7.5rem;
    justify-content: flex-start;
  }

  .input-name , .input-lastname , .input-email {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    box-sizing: border-box;
    padding: 0.35rem;
    margin: 0.5rem;
  }

  .evaluation-form-label {
    margin-bottom: 0.125rem;
    margin-top: 0;
  }

  .select-container {
    margin-left: 0.7rem;
    width: 10rem;
  }
}

@media screen and ( min-width : 1024px ) {

  .header {
    height: 5.5rem;
  }

  .trybewarts-login {
    flex-direction: row;
  }

  .trybewarts-login-email , .trybewarts-login-senha {
    margin-right: 0.5rem;
  }

  .main-content {
    align-items: initial;
    justify-content: space-between;
  }

  .content-wrapper {
    width: 34rem;
  }

  .input-name , .input-lastname , .input-email {
    width: 45%;
  }

  .trybewarts-forms-logo {
    height: 500px;
  }
}

@media screen and ( min-width : 1300px ) {

  .content-wrapper {
    width: 675px;
  }

  .main-content {
    justify-content: space-around;
  }

  .family-learn {
    display: flex;
    justify-content: space-between;
  }

  .family , .learn {
    width: 46%;
  }

  .learn-labels {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .learn-label {
    box-sizing: border-box;
    margin-right: 0.25rem;
    padding: 0.6rem;
  }

  .evaluation-labels {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .evaluation-label {
    padding: 0.6rem;
  }

  .agreement-infos {
    width: 55%;
  }
}
